html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: #202020;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

#root,
.App {
  width: 100%;
  height: 100%;
}
